.button-filters {
  background: var(--lightGrayishCyan);
  color: var(--veryDarkGrayishCyan);
  height: 2rem;
  padding: 0 .5rem;
  border-radius: .3rem;
  font-weight: 700;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
}

.button-featured{
  background: var(--darkGraphite);
  color: var(--lightGrayishCyanTable);
  height: 1.1rem;
  padding: .2rem .5rem 0 .5rem;
  border-radius: 0.55rem;
  font-weight: 700;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.button-new {
  background: var(--veryDarkGrayishCyan);
  color: var(--lightGrayishCyanTable);
  height: 1.1rem;
  padding: .2rem .5rem 0 .5rem;
  border-radius: 0.55rem;
  font-weight: 700;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}