
/*---Extend Formats---*/
%center-texte-in-button {
   display: inline-flex;
   align-items: center;
}

%font-format {
   font-weight: 700;
   font-size: 0.9rem;
}
/*--------------------*/

.button-filters {
  background: var(--lightGrayishCyan);
  color: var(--veryDarkGrayishCyan);
  height: 2rem;
  padding: 0 .5rem;
  border-radius: .3rem;
  @extend %font-format;
  @extend %center-texte-in-button;
}

.button-featured{
  background: var(--darkGraphite);
  color: var(--lightGrayishCyanTable);
  height: 1.1rem;
  padding: .2rem .5rem 0 .5rem;
  border-radius: 0.55rem;
  text-transform: uppercase;
  @extend %font-format;
  @extend %center-texte-in-button;
}

.button-new {
  background: var(--veryDarkGrayishCyan);
  color: var(--lightGrayishCyanTable);
  height: 1.1rem;
  padding: .2rem .5rem 0 .5rem;
  border-radius: 0.55rem;
  text-transform: uppercase;
  @extend %font-format;
  @extend %center-texte-in-button;
}

.button-header-filter {
  background: var(--lightGrayishCyan);
  color: var(--veryDarkGrayishCyan);
  height: 1.5rem;
  padding-left: .5rem;
  border-radius: .3rem;
  @extend %font-format;
  @extend %center-texte-in-button;
}

.button-header-filter::after {
  content: '';
  background: var(--darkGrayishCyan);
  background-image: url(/src/img/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: .8rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: .5rem;
  border-radius: 0 .3rem .3rem 0;
  @extend %center-texte-in-button;
  transition: .2s;
}

.button-header-filter:hover::after{ 
  background: var(--redClose);
  background-image: url(/src/img/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: .8rem;
}
